<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	
	<context:property-placeholder location="com/infinite/properties/jdbc.properties"/>
	
	<bean id="first" class="java.lang.String" factory-method="valueOf"  scope="prototype">
		<constructor-arg value="Pavan"></constructor-arg>
	</bean>

	<bean id="last" factory-bean="first" factory-method="concat" scope="prototype" lazy-init="true">
		<constructor-arg value="Janapati"></constructor-arg>
	</bean>

	<bean id="singleTon" class="com.infinite.beans.SingleTon"
		factory-method="getInstance" scope="singleton">
		<property name="name" value="${url}"></property>
	</bean>

</beans>
